<?xml version="1.0"?>
<!DOCTYPE html><plugin name="" id="com.arm.doc.101533_0100_00_en" version="1.0" provider-name="Arm Limited">
   <extension point="org.eclipse.help.toc">
     <toc file="toc.xml" primary="false"/>
   </extension>
   <!--Index not used by Arm Info center-->
   <extension point="com.arm.doc.101533_0100_00_en.metadata">
     <meta name="confidentiality" content="nonconfidential"/>
     <meta name="access" content="unrestricted"/>
     <meta name="plmStage" content="current"/>
     <meta name="status" content="final"/>
   </extension>
</plugin>
